<div class="container">
    <div class="row">
        <!-- <div class="form-control" style="margin-top: 10px;margin-bottom: 10px;">
            <label for="labelRubro">Rubros:</label>
            <select class="form-control form-control-lg" [(ngModel)]="selectRubro" (ngModelChange)="selectRubroChange($event)">            
                <option *ngFor="let rubro of rubros" [ngValue]="rubro.codigoRubro">{{rubro.nombre}}</option>
            </select>
        </div>
        <div class="form-control" style="margin-top: 10px;margin-bottom: 10px;">
            <label for="labelDistrito">Distritos:</label>
                <select class="form-control form-control-lg" [(ngModel)]="selectDistrito" (ngModelChange)="selectDistritoChange($event)">            
                    <option *ngFor="let distrito of distritos" [ngValue]="distrito.codigoDistrito">{{distrito.nombre}}</option>
                </select>
        </div> -->
        <div class="form-control" style="margin-top: 10px;margin-bottom: 10px;">
            <label for="labelEstablecimiento">Establecimientos:</label>
            <select class="form-control form-control-lg" [(ngModel)]="selectEstablecimiento" (ngModelChange)="selectEstablecimientoChange($event)">            
                <option *ngFor="let establecimiento of establecimientos" [ngValue]="establecimiento.id">{{establecimiento.nameCombo}}</option>
            </select>
        </div>
        <div class="row" style="width: 100%">
            <div class="col-sm-6">
                <div class="form-control" style="margin-top: 10px;margin-bottom: 10px;"> 
                    <label for="labelDistancia">Distancia:</label>
                    <nouislider  [config]="someRange_distance"  [(ngModel)]="range_distance" style="margin-bottom: 3rem !important;"></nouislider>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-control" style="margin-top: 10px;margin-bottom: 10px;"> 
                    <label for="labelSimilarity">Similaridad:</label>
                     <nouislider [config]="someRange_similarity" [(ngModel)]="range_similarity"  style="margin-bottom: 3rem !important;"></nouislider>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="margin-left: 10px;">
                <button type="button" class="btn btn-primary" style=" width: 150px;height: 50px;" (click)="searchMap()">Enviar</button>
            </div> 
        </div>
    </div>
    <!-- <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col"></div>
        <div class="col">
            <agm-map 
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [disableDefaultUI]="false"
                [zoomControl]="false"
                (mapClick)="mapClicked($event)">
              
              <agm-marker 
                    *ngFor="let establecimiento of establecimientos"
                    (markerClick)="clickedMarker(establecimiento.nombre, i)"
                    [latitude]="establecimiento.latitud"
                    [longitude]="establecimiento.longitud"
                    [markerDraggable]="establecimiento.draggable"
                    (dragEnd)="markerDragEnd(establecimiento, $event)">
                    
                   <agm-info-window>
                    <strong>{{establecimiento.nombre}}</strong>
                  </agm-info-window> 
                  
                </agm-marker>
                
                <agm-circle [latitude]="lat" [longitude]="lng" 
                    [radius]="slideRange"
                    [fillColor]="'red'"
                    [circleDraggable]="false"
                    [editable]="false">
                </agm-circle> 
                
              
            </agm-map>
        </div>
        <div class="col"></div>
    </div>-->
    <div *ngIf="activeTableMap">
        <div class="row" style="margin-top: 40px;">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">Establecimientos</th>
                        <th scope="col">Distrito</th>
                        <th scope="col">Numero de Ticket</th>
                    </tr>
                </thead>
            <tbody>
                    <tr *ngFor="let estableciminetos_list of establecimiento_response; let i = index">
                        <th scope="row">{{i}}</th>
                        <td>{{estableciminetos_list.name}}</td>
                        <td>{{estableciminetos_list.district}}</td>
                        <td>{{estableciminetos_list.averageTicket}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" style="margin-top: 40px">
            <table class="table">
                <tbody>
                    <tr>
                        <th colspan="2" class="table-primary">Numero de Competidores</th>
                        <td>{{totalNumberOfCompetitor}}</td>
                    </tr>
                    <tr>
                        <th colspan="2" class="table-primary">Ticket Promedio</th>
                        <td>{{totalAmount}}</td>
                    </tr>
                    <tr>
                        <th colspan="2" class="table-primary">Monto Total</th>
                        <td>{{totalTransaction}}</td>
                    </tr>
                    <tr>
                        <th colspan="2" class="table-primary">Monto Trx</th>
                        <td>{{total_average_ticket}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>